[submodule "awesome/awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "awesome/vicious"]
	path = awesome/vicious
	url = https://github.com/Mic92/vicious
[submodule "emacs/use-package"]
	path = emacs/use-package
	url = https://github.com/jwiegley/use-package
