[submodule "vicious"]
	path = vicious
	url = https://github.com/Mic92/vicious
[submodule "awesome-wm-widgets"]
	path = awesome-wm-widgets
	url = ./awesome-wm-widgets
[submodule "battery-widget"]
	path = battery-widget
	url = ./battery-widget
