[submodule "awesome/awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "awesome/vicious"]
	path = awesome/vicious
	url = https://github.com/Mic92/vicious
[submodule "kitty/base16-kitty"]
	path = kitty/base16-kitty
	url = https://github.com/kdrag0n/base16-kitty.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
